/*Choix des cartes à afficher*/

#stats_Cartes_menu
{
	position: fixed;
	top: 205;
	left: 20;
	width: 450;
	height: 520;
	border: solid black;
	padding: 10;
	overflow: auto;
}

#stats_Cartes_menu_titre /*titre du menu*/
{
	font-size: 60;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: -10;
}

.stats_Cartes_carte_choix /*fenêtres de choix de carte*/
{
	margin: 10;
	margin-top: 25;
	margin-bottom: 10;
	padding: 5;
	border: 1px solid black;
	overflow: auto;
}

.stats_Cartes_carte_choix_titre /*titres des fenêtres de choix de carte*/
{
	font-size: 30;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
	margin-top: 5;
	margin-bottom: 20;
}

.stats_Cartes_carte_attribut /*attributs de la carte statistique*/
{
	font-size: 20;
	font-weight: bold;
	margin-left: 5;
}

.stats_Cartes_carte_option /*listes déroulantes des options de la carte statistique*/
{
	font-size: 14;
	margin-top: 0;
	margin-bottom: 0;
}

#stats_Cartes_carte_stat_option_stat /*choix de la statistique de la carte statistique*/
{
	margin-top: 5;
}

#stats_Cartes_carte_stat_option_classes /*choix du nombre de classes de la carte statistique*/
{
	margin-right: 40;
}

.stats_Cartes_carte_stat_type /*choix du type de carte (pour la ville de Lausanne)*/
{
	margin-left: 20;
}

.stats_Cartes_carte_button /*boutons de validation de l'affichage des cartes*/
{
	font-size: 20;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8;
}




/*Affichage de la carte*/

#stats_Cartes_section
{
	position: fixed;
	top: 205;
	left: 530;
	height: 500;
	width: 950;
	display: flex;
    flex-direction: row;
}

#stats_Cartes_mapid /*carte affichée*/
{
	height: 550;
	width: 100%;
	border: 1px solid black;
	z-index: 0;
}

#stats_Cartes_mapchoix /*bouton de changement de visualisation de la carte*/
{
	position: fixed;
	top: 220;
	left: 590;
	width: 60;
	z-index: 1;
}




/*Informations complémentaires*/

#stats_Cartes_infos
{
	position: fixed;
	top: 205;
	left: 1440;
	height: 530;
	width: 420;
	padding: 10;
	border: 1px solid black;
	overflow: auto;
}

#stats_Cartes_infos_titre /*titre de la fenêtre d'informations*/
{
	font-size: 30;
	font-weight: bold;
	font-family: "Georgia";
	text-align: center;
	margin-top: 10;
	margin-bottom: 35;
}

.stats_Cartes_infos_sous_titre /*sous-titres de la fenêtre d'information*/
{
	font-size: 25;
	font-weight: bold;
	margin-bottom: 20;
}

.stats_Cartes_infos_habitant /*taux de réponse au questionnaire de chaque habitant*/
{
	margin: 10;
	padding: 5;
	width: 130;
	border: 1px solid black;
	overflow: auto;
}




/*Recherche d'adresse*/

.stats_Cartes_recherche_label /*nom de l'attribut à sélectionner/renseigner*/
{
	font-size: 22;
	font-weight: bold;
	margin-left: 15;
}

.stats_Cartes_recherche_select /*sélection de la ville*/
{
	font-size: 18;
	margin-bottom: 10;
	padding: 3;
}

.stats_Cartes_recherche_input /*attribut renseigné*/
{
	font-size: 18;
	margin-bottom: 10;
}

#stats_Cartes_recherche_button /*bouton de validation de la recherche*/
{
	font-size: 30;
	font-weight: bold;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 35;
}




/*Informations concernant la statistique affichée*/

#stats_Cartes_stat_nom
{
	font-size: 22;
	font-weight: bold;
	text-decoration: underline;
}

#stats_Cartes_stat_infos
{
	font-size: 20;
}




/*Légende des cartes raster de données statistiques*/

#stats_Cartes_legende
{
	position: fixed;
	top: 215;
	left: 1218;
	width: 150;
	padding: 10;
	border: 1px solid black;
	background-color: white;
	overflow: auto;
	z-index = 1;
}

#stats_Cartes_legende_titre /*titre de la légende*/
{
	margin-top: 5;
	margin-bottom: 10;
	font-size: 18;
	font-weight: bold;
	text-align: center;
}

.stats_Cartes_legende_ligne /*ligne comprenant couleur + valeurs associées à cette couleur*/
{
	padding:5;
	display: flex;
    flex-direction: row;
	margin-left: 20%;
}

.stats_Cartes_legende_couleur /*carré de couleur*/
{
	width:10%;
	padding:3;
	margin: 3;
	border: 1px solid black;
}
